<html >
<head>
<meta charset="UTF-8">
<style>

.mydiv {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.container {
  height: 50px;
  position: relative;
}

.cont {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

</style>
</head>
<body>
<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <img style="width:45px;height:45px;float:left;" ng-src="images/common/case_logo.png" class="pure-img">
    <a class="pure-menu-heading" ng-href="https://www.ibm.com/devops/method/category/architectures/" target="_blank">IBM Cloud Architecture</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="#!/">Home</a></li>
      <li class="pure-menu-item pure-menu-selected"><a class="pure-menu-link" href="#!/catalog">Catalog</a></li>
      <li ng-show="!loggedIn" class="pure-menu-item"><a class="pure-menu-link" href="#!/login">Log In</a></li>
      <li ng-show="loggedIn" class="pure-menu-item"><a class="pure-menu-link" href="#!/otp">Orders</a></li>
      <li ng-show="loggedIn" class="pure-menu-item"><a class="pure-menu-link" href="#!/logout">Logout</a></li>
    </ul>
  </div>
</div>
<div class="cont">
  <div class="center">
    <h3>To access your profile and order information</h3>
  </div>
</div>
<div class="container">
  <div class="center">
    <p>Click on Get OTP to generate One-Time-Password</p>
  </div>
</div>
<div class="container">
  <div class="center">
    <button type="submit"  ng-click="getotp()" class="pure-button pure-button-primary">Get OTP</button>
  </div>
</div>
<div class="container">
  <div class="center">
    <h4>Check your email and please enter your One-Time-Password below</h4>
  </div>
</div>
<div class="container">
  <div class="center">
    <input type="text" id="OTP" name="OTP" ng-model="otp">
  </div>
</div>
<div class="container">
  <div class="center">
    <button type="submit"  ng-click="submit()" class="pure-button pure-button-primary">Submit</button>
  </div>
</div>
</body>
</html>
